#Driver-Table{
    margin-top: 50px;
}

#change-form{
    padding: 0 50px;
    margin-top: 3%;
    
}
input[type="text"]{
    margin-right: 20px;
}

.full-background {
    background-image: linear-gradient(-90deg, red,orange);
}

.colorName{
    color: blue;
}